[Container]
Image=codeberg.org/forgejo/forgejo:15-rootless
ContainerName=forgejo
PublishPort=2223:3000
PublishPort=2222:2222
Volume=forgejo-data:/var/lib/gitea
Volume=/etc/localtime:/etc/localtime:ro
Environment=FORGEJO__server__ROOT_URL=https://git.wmedrano.dev
Environment=FORGEJO__server__SSH_PORT=2222
Environment=FORGEJO__database__DB_TYPE=sqlite3
Environment=FORGEJO__database__SQLITE_JOURNAL_MODE=WAL
PodmanArgs=--pull=newer
